language: python
python:
  - "2.7"

addons:
  postgresql: "9.3"

before_script:
  - psql -c "CREATE DATABASE spatialdbtest ENCODING 'utf-8';" -U postgres
  - psql -c "CREATE SCHEMA spatial;" -U postgres
  - psql -c "create extension postgis" -U postgres -d spatialdbtest
  - locate shp2pgsql
  - /usr/bin/shp2pgsql -W LATIN1 -I -s 4326 tests/data/shp/ne_110m_admin_0_countries.shp spatial.ne_110m_admin_0_countries | psql -U postgres spatialdbtest

install:
  - "pip install -r https://raw.githubusercontent.com/geobricks/geobricks_common/development/requirements.txt"
  - "pip install -r https://raw.githubusercontent.com/geobricks/geobricks_dbms/development/requirements.txt"
  - "pip install -r requirements.txt"
  - "pip install pytest pytest-cov"
  - "pip install coveralls"
  - "pip install -e ."   # install package using setup.py in editable mode

script:
   - py.test --cov geobricks_spatial_query --cov-report term-missing